.data-tree-block-wrap
    ul.ul-tree-wrap
        li.ul-tree-title Черниговская
            ul
                li.ul-tree-title Чернигов
                li Николаев
                ul
                    li Чернигов
                    ul
                        li Чернигов
                        ul
                            li Чернигов
                            ul
                                li Чернигов
                                ul
                                    li Чернигов
                                    ul
                                        li Чернигов
                                li Чернигов
                                li Чернигов        
                li Чернигов  
                li Чернигов  
        li.ul-tree-title Черниговская
            ul
                li Чернигов
                li Николаев
                ul
                    li Чернигов
                    ul
                        li Чернигов       
                        ul
                            li Чернигов
                            ul
                                li Чернигов
                                li Чернигов
                                li Чернигов
                    li Чернигов
                    li Чернигов
                    li Чернигов   
        li.ul-tree-title Черниговская
            ul
                li.ul-tree-title Чернигов
                li Николаев
                ul
                    li Чернигов
                    ul
                        li Чернигов
                        ul
                            li Чернигов
                li Чернигов  
        li.ul-tree-title Черниговская
            ul
                li Чернигов
                li Николаев
                ul
                    li Чернигов
                    ul
                        li Чернигов       
                        ul
                            li Чернигов
                            ul
                                li Чернигов
                                li Чернигов
                                li Чернигов
                    li Чернигов
                    li Чернигов
                    li Чернигов   
        li.ul-tree-title Черниговская
            ul
                li.ul-tree-title Чернигов
                li Николаев
                ul
                    li Чернигов
                    ul
                        li Чернигов
                        ul
                            li Чернигов
                li Чернигов  
        li.ul-tree-title Черниговская
            ul
                li Чернигов
                li Николаев
                ul
                    li Чернигов
                    ul
                        li Чернигов       
                        ul
                            li Чернигов
                            ul
                                li Чернигов
                                li Чернигов
                                li Чернигов
                    li Чернигов
                    li Чернигов
                    li Чернигов                                    