mixin list( item, link, active )

    if(active)

        li(class="side-bar-child-item " + active)
            a(class="side-bar-child-link" href="" +link)= item

    else    

        li.side-bar-child-item
            a(class="side-bar-child-link" href="" +link)= item

mixin header-list( item, link, active ) 

    if(active)     

        li.header-mnu-item.mnu-header-link-wrap 
            a(class='header-link '+active href='' +link)= item

    else
    
        li.header-mnu-item.mnu-header-link-wrap 
            a(class='header-link' href='' +link)= item        