.search-block-wrap {
    background-color: $color-white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-radius: 2px;
}

.search-form {

    padding-left: 24px;
    position: relative;

    &:after {
        content: url('images/search-icon.png');
        position: absolute;
        right: 8px;
        top: 6px;
    }

    .search-input {
        background-color: $color-twilight-blue;
        border: none;
        box-shadow: inset 0px 1px 2px #ccc;
        border-radius: 4px;
        height: 26px;
        width: 176px;
        padding: 0 10px;
    }

}

.btn-group-wrap {
    padding-right: 24px;

    .btn:first-child {
        margin-right: 8px;
    }
    
}