$font-size: 12px;
$ff: 'Roboto', sans-serif; 
$color-black: #000;
$color-fiord: #47535c; 
$color-dodger-blue: #398BF7;
$color-kashmir-blue: #54698D;
$color-solitude: #ebeff3;
$color-white: #fff;
$color-shamrock: #2dd1ac;
$color-twilight-blue: #fcfcf9;
/***********************SIDE-BAR-ICON*********************/
$bgi1: 'email';
$bgi2: 'bag';
$bgi3: 'tree';
$bgi4: 'data-base';
$bgi5: 'user';
$bgi6: 'analitic';
/***********************SIDE-BAR-ICON-END*********************/